# BjjHeroes

bjjheroes.com is a website with more up to date match data than flograppling, so it would be useful to scrape data from here.

In [5]:
import urllib.request, urllib.parse, urllib.error
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import requests
import json
# HEADERS = {'User-Agent': 'Mozilla/5.0 (iPad; CPU OS 12_2 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Mobile/15E148'}

## Get All athletes from list
link: https://www.bjjheroes.com/a-z-bjj-fighters-list

In [16]:
r = requests.get('https://www.bjjheroes.com/a-z-bjj-fighters-list')
soup = BeautifulSoup(r.text, 'html.parser')
# print(soup)

#soup.find_all('tbody')

#First Name
soup.find_all('td',class_='column-1')

#Last Name
soup.find_all('td',class_='column-2')

#Nickname
soup.find_all('td',class_='column-3')

#Team
soup.find_all('td',class_='column-4')

In [105]:
new = soup.find_all('tbody')
new = new[0]
Athletes = pd.DataFrame(index=range(10000),columns=['First','Last','Nickname','Team','Link'])
row = 0
for n in new.find_all('td', class_ = 'column-1'):
    #print(n('a'))
    href = n('a')[0].get('href')
    first = n('a')[0].get_text()
    Athletes.iloc[row,0] = first
    Athletes.iloc[row,4] = href
    row = row +1

row = 0
for n in new.find_all('td', class_ = 'column-2'):
    last = n('a')[0].get_text()
    Athletes.iloc[row,1] = last
    row = row +1
try:
    row = 0
    for n in new.find_all('td', class_ = 'column-3'):
        nickname = n('a')[0].get_text()
        Athletes.iloc[row,2] = nickname
        row = row +1
    
    row = 0
    for n in new.find_all('td', class_ = 'column-4'):
        team = n('a')[0].get_text()
        Athletes.iloc[row,3] = team
        row = row +1
except:
    pass

# Drop Missing Rows
Athletes = Athletes.dropna(axis=0,how='all')

In [108]:
Athletes.tail()

         First         Last Nickname Team      Link
1331    Valdir       Canuto      NaN  NaN  /?p=7505
1332   Nakapan  Phungephorn      NaN  NaN  /?p=7512
1333     Eliot        Kelly      NaN  NaN  /?p=7519
1334  Mauricio      Pereira      NaN  NaN  /?p=7556
1335  Vinicius       Garcia      NaN  NaN  /?p=7636